<!-- Button trigger modal -->
  <a data-toggle="modal" href="#add_menu_modal" class="btn btn-primary btn-lg">Add Menu</a>

  <!-- Modal -->
  <div class="modal fade" id="add_menu_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Menu</h4>
        </div>
        <div class="modal-body">
			<form action="" method="post" id="add_menu_form">
				<div class="ajaxwrapper">
				Menu title: <input type="text" name="menu_title" id="tab_title" value="" class="ui-widget-content ui-corner-all" size="40"/>
				{% csrf_token %}
				</div>
				</br>
				<input type="submit" value="Add" name="add_menu" class="btn btn-primary">
			</form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
<div id="tabs_container">
<div id="tabs">
	<ul>
		{% for menu in menus %}
			<li><a href="#tabs-{{ forloop.counter }}">{{ menu.title }}</a><p class="hidden">{{ menu.id }}</p></li>
		{% endfor %}
	</ul>
	{% for menu in menus %}
		<div id="tabs-{{ forloop.counter }}">
		</div>
	{% endfor %}

</div>
</div>

<form action="" method="post" id="save_menu_form" style="float:left;">
	{% csrf_token %}
	<input type="submit" value="Save" name="save_menu" >
</form>
<form action="" method="post" id="active_menu_form" style="float:left;">
	{% csrf_token %}
	<input type="submit" value="Set Active" name="active_menu" >
</form>

<script type='text/javascript'>
	var items = {{ items|safe }};
	var jmenus = {{ json_menus|safe }};
	var menus = new Array();
	for (var i=0; i<jmenus.length; i++){
		menus[i] = eval("(" + jmenus[i] + ')');
	};
</script>