<html>
	<head>
		<title>Manager</title>
	</head>
	<body>
		<h3> Menu:</h3>
		{% for item in menu %}	
			<!--{{item}} <br> -->
			{% for it1, it2 in item.items %}
				{% ifnotequal it2  "menu" %}
					{{ it1 }} - {{ it2 }}<br>
				{% endifnotequal %}
			{% endfor %}
		{% endfor %}
		<br>
		<form action="" method="post">
			Add/Delete section:
			<table>
            {{ section_form.as_table }}
			</table>
			{% csrf_token %}
			<input type="submit" value="Add" name="add_section">
			<input type="submit" value="Delete" name="delete_section">
		</form>
		
		<form action="" method="post">
			Add/Delete Item:
			<table>
			{{ item_form.as_table }}
			</table>
			{% csrf_token %}
			<input type="submit" value="Add" name="add_item">
			<input type="submit" value="Delete" name="delete_item">
		</form>
		Items:<br>
		{% for item in items %}
			{{ item }}
			<br>
		{% endfor %}
		
		<form action="" method="post">
			<table>
			{{ iteminsert.as_table }}
			</table>
			{% csrf_token %}
			<input type="submit" value="Insert" name="insertitem">
			<input type="submit" value="Remove" name="remove_from">
		</form>
		
	</body>
</html>