
<h3> Menu:</h3>
<ul>
	{% for division, sections in menu.structure.items %}
		<li>{{division}}</li>
		<ul>
			{% for section, item in sections.items %}
				<li>{{ section}}</li>
				<ul>
					{% for it in item %}
						<li>{{ it }}</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</ul>
	{% endfor %}
</ul>


<br>
<form action="" method="post">
	Add/Delete section:
	<table>
	{{ section_form.as_table }}
	</table>
	{% csrf_token %}
	<input type="submit" value="Add" name="add_section">
	<input type="submit" value="Delete" name="delete_section">
</form>

<form action="" method="post">
	Add/Delete Item:
	<table>
	{{ item_form.as_table }}
	</table>
	{% csrf_token %}
	<input type="submit" value="Add" name="add_item">
</form>
Items:<br>
<table id="myTable" class="tablesorter">
<thead>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Description</th>
		<th filter='false'>Options</th>
	</tr>
</thead>
<tbody>
{% load mongo_id %}
{% for item in items %}
	<tr class="menu_items">
		<td>{{ item.name }}</td>
		<td>{{ item.price }}</td>
		<td>{{ item.description}}</td>
		<td>
		<form action="" method="post" class="delete_button">
		<div class="ajaxwrapper">
			{% csrf_token %}
			<input type="hidden" name="delete_item_id" value={{ item|id }}>
			<input type="submit" value="delete" name="delete_item" class="sendbutton">
		</div>
		</form>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>
<form action="" method="post">
	<table>
	{{ iteminsert.as_table }}
	</table>
	{% csrf_token %}
	<input type="submit" value="Insert" name="insertitem">
	<input type="submit" value="Remove" name="remove_from">
</form>
