<!-- Button trigger modal -->
<a data-toggle="modal" href="#create_item_modal" class="btn btn-primary btn-lg">Create Item</a>

<!-- Modal -->
<div class="modal fade" id="create_item_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Item</h4>
			</div>
			<div class="modal-body">
				<form action="" method="post" id="create_item_form">
					<div class="ajaxwrapper">
						<table>
						{{ item_form.as_table }}
						</table>
						{% csrf_token %}
					</div>
					<input type="submit" value="Create" name="add_item" class="btn btn-primary">
					<input type="submit" value="Quick Create" name="quick_create" class="btn btn-primary">
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="table_div">
<table id="myTable" class="tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
			<th filter='false'>Options</th>
		</tr>
	</thead>
	<tbody>
	{% for item in items %}
		<tr class="menu_items ui-widget-content">
			<td contentEditable class="item_name">{{ item.name }}</td>
			<td contentEditable class="item_price">{{ item.price }}</td>
			<td contentEditable class="item_description">{{ item.description}}</td>
			<td>
			<form action="" method="post" class="delete_button floaty">
				<div class="ajaxwrapper">
					{% csrf_token %}
					<input type="hidden" name="delete_item_id" value={{ item.id }}>
					<input type="submit" value="Delete" name="delete_item" class="sendbutton">
				</div>
			</form>
			<form action="" method="post" class="save_edit_button floaty">
				{% csrf_token %}
				<input type="hidden" name="item_id" value={{ item.id }}>
				<input type="submit" value="Save" name="save_edit">
			</form>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</div>
</table>

