<h3> Menu:</h3>
<div id="demo2"></div>
<input type="button" class="button" value="save" id="save" style="float:left;">

</br>
</br>

{{ menu }}
</br>
</br>
{{ json_menu|safe }}

<script type='text/javascript'>
	var st = $.parseJSON('{{ json_menu|safe }}');
	$('#demo2').jstree({
		"json_data": st,
		"types": {
			"max_depth": 2
		},
		"themes": {
			"theme": "apple"
		},
		"plugins" : [ "themes", "json_data", "ui", "dnd", "crrm", "contextmenu", "hotkeys", "unique", "types" ]
		});
	$("#save").click(function () {
        var tree = $("#demo2").jstree("get_json", -1);
		$.ajax({
			data: {
				'tree': JSON.stringify(tree),
				'csrfmiddlewaretoken': '{{ csrf_token }}'},
			type: "post",
		});
    });
</script>