<div data-role="page">
  <div data-role="header">
    <P>Menu</p>
    {% include 'myordersbtn.html' %}
  </div>
  <div data-role="content">
    <ul data-role="listview" data-divider-theme="d">
      {% for division, sections in menu.structure.items %}
      <li data-role="list-divider">{{division}}</li>
      {% for section in sections %}
      <li><a href="{% url 'section' menu.id division section %}">{{section}}</a></li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div data-role="footer"/>
</div>
